<div class="col-lg-12 noticia">     
    <br>{{name}}
    <br>{{paginaAtual}}
    <h2>Retorno de buscas</h2>        
        {{#each personagem}}
            <div class='cont'>            
                <p>Nome: <b>{{this.name }}
                <p><b>Descrição</b>: {{this.description }}</p>                             
                <img class="img-thumbnail" src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}" alt="">
                <a href="http://localhost:3000/marvel/registro_personagem/{{this.id}}">Visualizar</a>
            </div>
        {{/each}}   
    <p>Página {{pagAtual}} de {{quantPag}} </p>
    {{#if pagAnt }}
        <a class="btn btn-primary" href="{{pagAnt}}" role="button">Anterior</a>    
    {{/if}}
    
    {{#if proxPag }}
        <a class="btn btn-primary" href="{{proxPag}}" role="button">Próxima</a> 
    {{/if}}
</div> 