<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">MENU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Perfil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/marvel//lista_favorios/{{profile.id}}/">Favoritos</a>
          </li>
        </ul>
        <form action="/marvel/retorna_busca/" method="post" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquise seu Héroi" name="name" aria-label="Pesquisar" required>
          <div class="invalid-feedback">
              Campo não pode ficar vazio.
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
      </div>
</nav>
<div class="col-lg-10 noticia"> 
    <br>{{name}}
    <br>{{paginaAtual}}
    <h2>Retorno de buscas</h2>        
        {{#each personagem}}
            <div class="cont">            
                <p>Nome: <b>{{this.name }}
                <p><b>Descrição</b>: {{this.description }}</p>                             
                <img class="img-thumbnail" src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}" alt="">
                <a href="/marvel/registro_personagem/{{this.id}}">Visualizar</a>
            </div>
        {{/each}}  
</div> 