<div class="col-lg-10 noticia"> 
<br>{{name}}
<br>{{paginaAtual}}
<h2>Retorno de buscas</h2>        
     {{#each personagem}}
        <div class="noticia">            
            <p>Nome: <b>{{this.name }}
            <p><b>Descrição</b>: {{this.description }}</p>                             
            <img class="img-thumbnail" src="{{this.thumbnail.path}}.{{this.thumbnail.extension}}" alt="">
            <a href="/marvel/registro_personagem/{{this.id}}">Visualizar</a>
        </div>
    {{/each}}  
    <a href="/marvel/retorna_busca_pag/"></a> 
</div> 